/* importa archivo para quitar los estilos propios de cada nvegador */
@import url("normalize.css"); 

body{
    font-family: Helvetica, Arial;
    font-size: 16px;
}

.linea{
    display: block;
    margin: 15px auto 15px auto;
    width: 80%;
    height: 42px;
}

.titulo{
    display: inline-block;
    width: 160px;
}

#popup_reg{
    display: none;
    width: 400px;
    margin: auto;
    z-index: 2;
    position: relative;
    left: 0px;
    top: -140px;
}

#popup_reg #cerrar{
    float: right;
    position: relative;
    top: 10px;
    right: 7px;
    cursor: pointer;
}

#reg{
    background-color: #000539;
    border-radius: 15px;
    padding: 35px 0px 35px 0px;  
    margin: auto;
}

#reg #boton{
    position: relative;
    top: 12px;
    left: 40%;
}

#requeridos input, #datos_perfil input {
    border-radius: 5px;
    font-size: 18px;
    height: 2em;
    padding-left: 2%;
    width: 97%;
}

#requeridos :focus{
    box-shadow: 0 0 15px 5px #E7EBF7;
    outline: none;
}

#validacion_nick, #validacion_email, #validacion_pass{
    z-index: 3;
    position: relative;
    top: -33px;
    left: 292px;
}

#datos_perfil :focus{
    box-shadow: 0 0 15px 5px #E7EBF7;
    outline: none;
}

#tipo{
    height: 2.5em;
    border-radius: 5px;
    width: 100%;
}