body{
    font-family: Helvetica, Arial;
    font-size: 16px;
}

.linea{
    display: block;
    margin: 5px 0px 5px 0px;
}

.titulo{
    display: inline-block;
    width: 160px;
}

#reg{
    background-color: #000539;
    padding: 50px 0px 50px 0px;  
    margin: auto;
    width: 30%;
}

#requeridos input {
    border-radius: 5px;
    font-size: 18px;
    height: 2em;
    padding-left: 2%;
    width: 80%;
}